1 - Just One Director.meta
2 - Just One Director With Signal.meta
3 - Event Approach.meta
4 - Event Approach Repeat Dialogue.meta
Art Assets.meta

Data Assets.meta
Prefabs.meta
Scenes.meta
Scripts.meta

Generated.meta
